ul {
    list-style-type: none;
    margin-top: 10%;
    padding: 0;
    text-align: center;
    padding: 20px;
  }
li{
    display: inline;
    padding: 20px;
}
a{
    padding: 20px;
    text-decoration: none;
    color: black;
    background-color: rgb(192, 232, 218);
    border-radius: 2px;
}
a:hover{
    color: beige;
}
body{
    background-color: rgb(206, 240, 228);
}
#text{
    text-align: center;
    margin-top: 100px;
}
