
body{
    background-color: rgb(206, 240, 228);
}
h1,form{
    text-align : center;
}
input{
    border-radius : 10px;
    width : 100%;
    display: inline-block;
    height : 35px;
}
#sub{
    width:3cm;
}

body{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.form1{
    border-style: groove;
    border-color: rgb(119, 148, 127);
}
input:hover{
    color: rgb(70, 105, 139);
}
h1{
    text-shadow:2px 2px 2px rgb(165, 151, 167);
}
#sub:hover{
    background-color: rgb(198, 225, 225);
}
#sub{
    border-style: groove;
    border-color: rgb(43, 114, 143);
}
#top{
    background-color: rgb(198, 229, 218);
    width: 20%;
    padding: 70px;
    min-width: 275px;
    border: 2px solid rgb(171, 195, 195);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}
#top:hover{
    background-color: rgb(186, 228, 212);
}
#text a{
    color: rgb(137, 132, 123);
    text-decoration: double;
}
.img-account-profile{
    height: 10rem;
    display: flex;
    justify-content: right;
    margin-left: 60px;
    margin-top: -50px;
}
.rounded-circle {
    border-radius: 50% !important;
}
.btn{
    margin-left: 70px;
    color: rgb(15, 15, 14);
}
